html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
footer,
header,
nav,
section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
p{color:#cccccc;}
h1, h2, h3, h4{color:#cccccc;font-family:Verdana, Geneva, sans-serif;}
figcaption,
figure,
main{display:block;}
figure{margin:1em 40px;}
hr{border:none;color:grey;background-color:grey;box-sizing:content-box;height:1px;overflow:visible;}
pre{font-family:monospace, monospace;font-size:1em;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,
strong{font-weight:inherit;}
b,
strong{font-weight:bolder;}
code,
kbd,
samp{font-family:monospace, monospace;font-size:1em;}
dfn{font-style:italic;}
mark{background-color:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio,
video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,
input,
optgroup,
select,
textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
html [type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:0.35em 0.75em 0.625em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details,
menu{display:block;}
summary{display:list-item;}
canvas{display:inline-block;}
template{display:none;}
[hidden]{display:none;}
body{background-color:black;}
h3{font-size:16px;}
.pages{min-height:100vh;margin:0;}
.pages h1{color:black;text-align:center;width:100%;background-color:white;padding-top:1%;padding-bottom:1%;}
#page-label-1{background:url('./gallery/heading_parallax_1.png');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
#page-label-2{background:url('./gallery/heading_parallax_3.png');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
#page-label-3{background:url('./gallery/heading_parallax_2.png');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
#page-label-4{background:url('./gallery/heading_parallax_5.png');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
#page-label-5{background:url('./gallery/heading_parallax_4.png');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
#firstline{display:none;}
#top-nav{top:0;width:100%;list-style:none;text-align:center;padding-left:0;overflow:hidden;background-color:black;z-index:1;}
#top-nav a{display:inline-block;color:white;text-align:center;padding-left:14px;padding-right:14px;text-decoration:none;background-color:black;color:white;cursor:pointer;border:none;outline:none;transition:0.4s;}
#top-nav h3{color:white;transition:0.4s}
#top-nav a:hover{background-color:white;transition:0.4s;}
#top-nav a:hover h3{color:black;transition:0.4s;}
.sticky{position:fixed;top:0;width:100%;}
.inSection{background-color:white !important;}
.inSection h3{color:black !important;}
#top{display:hidden;}
#logo{display:block;margin:auto;width:100%;max-width:1000px;padding-top:6%;background-color:black;}
#social-wrapper{background-color:black;}
#social{display:table;margin:auto;padding:2% auto;background-color:black;}
#social ul{display:grid;list-style:none;padding:0px;grid-template-columns:repeat(6, 1fr);grid-gap:1em;}
#social li{display:inline-block;}
#social li a{display:inline-block;width:60px;height:60px;border:0;text-indent:1000%;white-space:nowrap;overflow:hidden;}
#fbsm{background:url('./smicons/facebook.png');background-repeat:no-repeat;background-size:100% 100%;}
#fbsm:hover{background:url('./smicons/facebook-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#twsm{background:url('./smicons/twitter.png');background-repeat:no-repeat;background-size:100% 100%;}
#twsm:hover{background:url('./smicons/twitter-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#bcsm{background:url('./smicons/bandcamp.png');background-repeat:no-repeat;background-size:100% 100%;}
#bcsm:hover{background:url('./smicons/bandcamp-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#insm{background:url('./smicons/instagram.png');background-repeat:no-repeat;background-size:100% 100%;}
#insm:hover{background:url('./smicons/instagram-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#ytsm{background:url('./smicons/youtube.png');background-repeat:no-repeat;background-size:100% 100%;}
#ytsm:hover{background:url('./smicons/youtube-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#etsm{background:url('./smicons/etsy.png');background-repeat:no-repeat;background-size:100% 100%;}
#etsm:hover{background:url('./smicons/etsy-hover.gif');background-repeat:no-repeat;background-size:100% 100%;}
#bgimage{display:block;margin:auto;position:relative;width:100vw;min-height:200px;max-width:1000px;z-index:-1;bottom:0;}
#bgimage img{position:absolute;bottom:0;}
.footer{position:relative;height:60px;bottom:0;left:0;padding-top:0%;width:100%;text-align:center;font-style:italic;background-color:black;}
#About{display:block;position:relative;}
#About p{margin-left:5%;margin-right:5%;text-align:justify;}
#About img{position:relative;margin:auto;display:block;padding-top:2%;max-width:100%;}
.anchor{display:block;position:relative;visibility:hidden;}
#flavour{font-style:italic;}
#Gallery img{display:block;position:relative;margin:auto;max-width:100%;}
#Gallery figcaption{color:white;font-size:15px;text-align:center;}
#Releases{background:url('./gallery/GeddonSky.jpg');background-repeat:no-repeat;background-position:center bottom;background-size:100% auto;min-height:100vh;}
#Video{background:url('./gallery/GeddonTelly.jpg');background-repeat:no-repeat;background-position:center bottom;background-size:100% auto;min-height:100vh;}
#signup{display:block;width:100%;border:none;}
.release-panel{position:relative;height:0;overflow:hidden;padding-bottom:100%;display:block;}
.release-panel iframe{position:absolute;border:none;margin:none;padding:none;top:5px;left:5px;right:5px;bottom:5px;width:100%;height:100%;background:black;}
.release-grid{width:95%;max-width:1200px;margin:0 auto;display:grid;grid-template-columns:repeat(3, 1fr);grid-gap:1em;}
.video-panel{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.video-panel iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.video-grid{position:relative;width:95%;max-width:1200px;margin:0 auto;display:grid;grid-template-columns:repeat(3, 1fr);grid-gap:1em;}
.video-grid h2{text-align:center;}
@media (max-width:550px){.release-grid{grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));}
.video-grid{grid-template-columns:repeat(1, minmax(300px, 1fr));}
.service-grid{grid-template-columns:repeat(1, minmax(240px, 1fr));}
}
@media (max-width:480px){#social ul{grid-template-columns:repeat(3, 1fr);}
}